<main>
  <h1>Structural Directives</h1>
  <section *hideAfter="5000 as time; then placeholder; let count = counter; let defaultNew" class="banner primary">
    <h2>Temporary content</h2>
    <p>{{defaultNew}} This layout should disappeared in {{ time }} sec. It disappeares in {{ count }}</p>
  </section>
  <ng-template #placeholder let-hiddenAfter="hideAfter" let-defaultValue>
    <section class="banner placeholder">
      <h2>Temporary content</h2>
      <p>here is some content. banner was seen {{ hiddenAfter }} sec {{ defaultValue }}</p>
    </section>
  </ng-template>
</main>
